{% extends 'base.html' %}
{% block content %}
<div class="container jumbotron">
    <div class="row">
        <div class="col text-center">
            <form method="POST">
                {% csrf_token %}
                <div>
                    <p>Inscrivez-vous:</p>
                    {{ form.as_p }}
                </div>
                <div>
                    <a class="btn btn-secondary" href="{% url 'account:login' %}" role="button">Retour</a>    
                    <input class="btn btn-success" type="submit" value="S'inscrire">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}