{% extends 'base.html' %}
{% block content %}
<div class="container jumbotron w-75 custom-jumbo">
    {% if user.is_authenticated %}
        <p>Bonjour, {{ user.username }}. Vous êtes bien connecté.</p>
    {% else %}
        <div class="row">

            <div class="col-12 col-md-6 text-center">                   
                    <form method="POST">
                        {% csrf_token %}
                        <p>Bienvenue. Connectez-vous<p>
                        {{ form.as_p }}
                        <input class="btn btn-success" type="submit" value="Se connecter">
                    </form>
            </div>

            <div class="col-12 col-md-6 text-center">
                <p>Inscrivez-vous maintenant</p>
                <a class="btn btn-success" href="{% url 'account:register' %}" role="button">S'inscrire</a>
            </div>            
            
        </div>
</div>
    {% endif %}
{% endblock %}